In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('airlines_final.csv')

In [3]:
data

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,0,1351,Tuesday,UNITED INTL,KANSAI,Nan,Hub,Gates 91-102,31/12/2018,115,Clean,Neutral,Very satisfied
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,31/12/2018,135,Clean,Very safe,Very satisfied
2,2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,31/12/2018,70,Average,Somewhat safe,Neutral
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,31/12/2018,190,Clean,Very safe,Somewhat satsified
4,4,2992,Wednesday,AMERICAN,MIAMI,Nan,Hub,Gates 50-59,31/12/2018,559,Somewhat clean,Very safe,Somewhat satsified
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,2804,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,31/12/2018,280,Somewhat clean,Neutral,Somewhat satsified
2473,2805,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,31/12/2018,165,Clean,Very safe,Very satisfied
2474,2806,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,31/12/2018,92,Clean,Very safe,Very satisfied
2475,2807,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,31/12/2018,95,Clean,Somewhat safe,Very satisfied
2476,2808,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,31/12/2018,220,Clean,Very safe,Somewhat satsified

In [4]:
data.isnull()

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,False,False,False,False,False,False,False,False,False,False,False,False,False
2473,False,False,False,False,False,False,False,False,False,False,False,False,False
2474,False,False,False,False,False,False,False,False,False,False,False,False,False
2475,False,False,False,False,False,False,False,False,False,False,False,False,False
2476,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
dest_region=data['dest_region'].unique()

In [6]:
dest_region

array(['Nan', 'Canada/Mexico', 'West US', 'East US', 'Midwest US',
       'EAST US', 'Middle East', 'Asia', 'Europe', 'eur',
       'Central/South America', 'Australia/New Zealand', 'middle east'],
      dtype=object)

In [7]:
dest_region.sort()

In [8]:
dest_region

array(['Asia', 'Australia/New Zealand', 'Canada/Mexico',
       'Central/South America', 'EAST US', 'East US', 'Europe',
       'Middle East', 'Midwest US', 'Nan', 'West US', 'eur',
       'middle east'], dtype=object)

In [9]:
data

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,0,1351,Tuesday,UNITED INTL,KANSAI,Nan,Hub,Gates 91-102,31/12/2018,115,Clean,Neutral,Very satisfied
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,31/12/2018,135,Clean,Very safe,Very satisfied
2,2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,31/12/2018,70,Average,Somewhat safe,Neutral
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,31/12/2018,190,Clean,Very safe,Somewhat satsified
4,4,2992,Wednesday,AMERICAN,MIAMI,Nan,Hub,Gates 50-59,31/12/2018,559,Somewhat clean,Very safe,Somewhat satsified
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,2804,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,31/12/2018,280,Somewhat clean,Neutral,Somewhat satsified
2473,2805,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,31/12/2018,165,Clean,Very safe,Very satisfied
2474,2806,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,31/12/2018,92,Clean,Very safe,Very satisfied
2475,2807,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,31/12/2018,95,Clean,Somewhat safe,Very satisfied
2476,2808,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,31/12/2018,220,Clean,Very safe,Somewhat satsified

In [10]:
#lowercase
data['dest_region']=data['dest_region'].str.lower()

In [11]:
data['dest_region'].unique()

array(['nan', 'canada/mexico', 'west us', 'east us', 'midwest us',
       'middle east', 'asia', 'europe', 'eur', 'central/south america',
       'australia/new zealand'], dtype=object)

In [12]:
#fix whitespace
dest_size=data['dest_size'].unique()

In [13]:
dest_size

array(['Hub', 'Small', '    Hub', 'Medium', 'Large', 'Hub     ',
       '    Small', 'Medium     ', '    Medium', 'Small     ',
       '    Large', 'Large     '], dtype=object)

In [14]:
dest_size.sort()

In [15]:
dest_size

array(['    Hub', '    Large', '    Medium', '    Small', 'Hub',
       'Hub     ', 'Large', 'Large     ', 'Medium', 'Medium     ',
       'Small', 'Small     '], dtype=object)

In [16]:
#remove whitespace
data['dest_size']=data['dest_size'].str.strip()

In [17]:
data['dest_size'].unique()

array(['Hub', 'Small', 'Medium', 'Large'], dtype=object)

In [18]:

dest_region= data['dest_region'].unique()

In [19]:
dest_region.sort()

In [20]:
dest_region

array(['asia', 'australia/new zealand', 'canada/mexico',
       'central/south america', 'east us', 'eur', 'europe', 'middle east',
       'midwest us', 'nan', 'west us'], dtype=object)

In [21]:
import fuzzywuzzy
from fuzzywuzzy import process

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [22]:
matches=fuzzywuzzy.process.extract("europe",dest_region,limit=5,scorer=fuzzywuzzy.fuzz.token_sort_ratio)

In [23]:
matches

[('europe', 100),
 ('eur', 67),
 ('east us', 31),
 ('midwest us', 25),
 ('middle east', 24)]

In [24]:
def replace_matches_in_column(df,column,string_to_match,min_ratio=65):
    strings = df[column].unique()
    matches=fuzzywuzzy.process.extract(string_to_match,strings,limit=5,scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]
    rows_with_matches = df[column].isin(close_matches)
    df.loc[rows_with_matches, column] = string_to_match
    print("All done!")

In [25]:
replace_matches_in_column(df=data, column='dest_region', string_to_match="europe")
dest_region = data['dest_region'].unique()
dest_region.sort()
print(dest_region)

All done!
['asia' 'australia/new zealand' 'canada/mexico' 'central/south america'
 'east us' 'europe' 'middle east' 'midwest us' 'nan' 'west us']